h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}


.customNav {
    position: fixed;
    width: 100%;
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
    padding: 20px;
    padding-left: 40px;
}

.navbar {
    padding-left: 80px;
}


.navbar-nav {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: 10px !important;
}

.navbar-brand img {
    padding-right: 15px;
    width: 170px;
    padding-left: 10px;
}

.nav-item,
form-check-input {
    margin: 0px 15px;
}


.nav-item a:hover {
    color: brown;
}

.mr-auto {
    margin-right: 0px !important;

}

/* Navigation dropdown menu */
.dropdown-menu {
    background: url("../images/transparency.png");
    background-color: black !important;
    background-size: cover;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: black;
}

/* Navigation links */
.customNav a {
    color: black;
}

.navCTA {
    font-size: 15px;
}


.jumbotron {
    padding: 4rem 1rem;

    border-radius: .3rem;
}


.btn-success {
    font-family: 'Poppins', sans-serif;
    ;
    font-size: 13px;
    color: #7D3335;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #7D3335;
    border-radius: 40px;
    background: #7D3335;
    transition: all 0.3s ease 0s;
}



.btn-success:hover {
    color: white;
    background: #5F2324;
    border: 2px solid #5F2324;
}


.bg {
    background-color: rgb(154, 189, 192);
    padding: 15px;
    border-radius: 10px;
}

.Vaccine-Section {
    background-image: url("../css/assets/Group\ 1746\ bgg.png");


}

.stay-safe {

    padding-top: 10px;
    background-image: url("../css/assets/Group\ 1767.png");


}

.bg-next {
    background: rgba(26, 27, 26, 0.07);
    padding: 15px;
    border-radius: 10px;
}

.bg-last {

    background: rgba(154, 189, 92, 0.07);
    padding: 15px;
    border-radius: 30px;
}

.stay-updated {
    background: rgba(154, 189, 92, 0.09);

}

.form-control {
    border-radius: 10px;

}

.fab {

    color: #7D3335;
}

.footer-icons {
    justify-content: space-around;
}

.lastone {
    justify-content: flex-start;
    padding-top: 20px;
    background-color: black;
    color: white;
}

.btn {
    border: #7D3335 !important;
}

.btn-success,
.btn-success:active,
.btn-success:visited,
.btn-success:focus,
.btn-success:active:focus,
.btn-success:checked {
    background-color: #7D3335 !important;
    border: #7D3335 !important;
}

.btn-success:hover {
    background-color: #5F2324 !important;
    color: white;
    border: #5F2324 !important;

}

.btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger:visited,
.btn-outline-danger:focus,
.btn-outline-danger:active:focus,
.btn-outline-danger:checked {
    border: 2px solid #5F2324 !important;
    color: #5F2324 !important;
}

.btn-outline-danger:active {
    border: #5F2324 !important;


}


.btn-outline-danger:hover {
    background-color: rgba(125, 51, 53, 0.06) !important;
    border: #5F2324 !important;
    color: white;

}

.toggleContainer {
    padding: 15px;
    display: none;
    transition: all;
}

.hiddenSlide {
    display: none;
    min-height: 428px;
}

.containerHeight {
    min-height: 428px;
    background-color: black;
}

.active {
    display: block;
}

.w3-ul {
    cursor: pointer;
}

.plus_minus {
    float: right;
}


.w3-padding-small {
    padding: 4px 8px !important
}

.w3-padding {
    padding: 8px 16px !important
}

.toggle {
    border: 1px solid gray !important;
    border-radius: 5px !important;
}

.w3-padding-large {
    padding: 12px 24px !important
}

.w3-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.w3-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.w3-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.w3-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.w3-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.first-card-state {
    background-color: #E3A054;
}

.w3-top {
    z-index: 2;
}

.second-card {
    background-color: #FBDCBB;
}

.third-card {
    background-color: #C99383;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;

}